<p-dialog
  [(visible)]="isVisible"
  [modal]="true"
  (onHide)="onHide()"
  header="{{ 'WORKS.' + info.workCode | translate }} #{{ info.index }}"
>
  <div class="max-w-base mb-3" [innerHTML]="info.match.text | pagination"></div>

  <div class="flex justify-content-end">
    <p-button
      styleClass="p-button-secondary"
      (click)="onNavigate()"
      pTooltip="{{ 'SEARCH.RESULTS.GO_TO_TEXT_TOOLTIP' | translate }}"
    >
      <div class="mt-1">
        {{ "SEARCH.RESULTS.GO_TO_TEXT_LABEL" | translate }}
      </div>
      <i class="pi pi-arrow-right ml-2 mb-1"></i>
    </p-button>
  </div>
</p-dialog>
