<p-dialog
  [(visible)]="isVisible"
  [modal]="true"
  (onHide)="onHide()"
  header="{{ info.workTitle }} #{{ info.index }}"
>
  <div class="max-w-600 mb-3" [innerHTML]="info.match.text | normalMode"></div>

  <div class="flex justify-content-end">
    <p-button
      styleClass="p-button-secondary"
      [routerLink]="['/read/text/', info.workId]"
      fragment="paragraph-{{ info.match.paragraphId }}"
      pTooltip="{{ 'SEARCH.RESULTS.GO_TO_TEXT_TOOLTIP' | translate }}"
    >
      <div class="mt-1">
        {{ "SEARCH.RESULTS.GO_TO_TEXT_LABEL" | translate }}
      </div>
      <i class="pi pi-arrow-right ml-2 mb-1"></i>
    </p-button>
  </div>
</p-dialog>
