<div class="flex justify-content-center">
  <div class="w-full max-w-600">
    <app-simple-input
      [nodes]="(nodes$ | async) || []"
      (worksChangeEmitter)="onWorksChange($event)"
      (searchStringChangeEmitter)="onSearchStringChange($event)"
    ></app-simple-input>

    <app-advanced-input
      (optionsChangeEmitter)="onOptionsChange($event)"
    ></app-advanced-input>

    <p-button
      styleClass="w-full"
      label="{{ 'SEARCH.INPUT.BUTTON_LABEL' | translate }}"
      [disabled]="!(canSearch$ | async)"
      pTooltip="{{
        !(canSearch$ | async) ? ('SEARCH.INPUT.BUTTON_TOOLTIP' | translate) : ''
      }}"
      (onClick)="onSearch()"
    ></p-button>
  </div>
</div>
