<div class="flex justify-content-center">
  <div class="w-full max-w-base">
    <app-basic-input
      [nodes]="(nodes$ | async) || []"
      (simpleInputEmitter)="onBasicInputChange($event)"
      (worksEmitter)="onWorksChange($event)"
      (doSearchEmitter)="onSearch()"
    ></app-basic-input>

    <p-button
      styleClass="w-full"
      label="{{ 'SEARCH.INPUT.BUTTON_LABEL' | translate }}"
      [disabled]="!(canSearch$ | async)"
      pTooltip="{{
        !(canSearch$ | async) ? ('SEARCH.INPUT.BUTTON_TOOLTIP' | translate) : ''
      }}"
      (onClick)="onSearch()"
    ></p-button>

    <div class="mb-5"></div>

    <app-advanced-input
      (optionsChangeEmitter)="onOptionsChange($event)"
    ></app-advanced-input>
  </div>
</div>
