<nz-divider [nzText]="'READ.INFO.HEADER' | translate"></nz-divider>

<nz-space class="w-full" nzDirection="vertical">
  <div *nzSpaceItem nz-row>
    <div nz-col nzSpan="4">
      <b>{{ "READ.INFO.TITLE" | translate }}</b>
    </div>
    <div nz-col nzSpan="20">
      <b>{{ work.title }}</b>
    </div>
  </div>

  <div *nzSpaceItem nz-row>
    <div nz-col nzSpan="4">
      {{ "READ.INFO.VOLUME" | translate }}
    </div>
    <div nz-col nzSpan="20">
      {{
        "COMMON.VOL_WORK_TITLE"
          | translate
            : { volumeNumber: work.volumeNumber, title: work.volumeTitle }
      }}
    </div>
  </div>

  <ng-container *ngIf="work.siglum">
    <div *nzSpaceItem nz-row>
      <div nz-col nzSpan="4">
        {{ "READ.INFO.SIGLUM" | translate }}
      </div>
      <div nz-col nzSpan="20">
        {{ work.siglum }}
      </div>
    </div>
  </ng-container>

  <div *nzSpaceItem nz-row>
    <div nz-col nzSpan="4">
      {{ "READ.INFO.YEAR" | translate }}
    </div>
    <div nz-col nzSpan="20">
      {{ work.year }}
    </div>
  </div>

  <div *nzSpaceItem nz-row>
    {{ "READ.INFO.KORPORA_LINK" | translate }}:&nbsp;
    <a
      href="{{ korporaUrl }}/aa{{ geWithLeadingZeros(work.volumeNumber) }}/"
      target="_blank"
      rel="noopener"
    >
      korpora.org &#x29c9;
    </a>
  </div>
</nz-space>
