<nz-card [nzTitle]="'SEARCH.INPUT.ADVANCED.HEADER' | translate">
  <form [formGroup]="form">
    <ks-left-labeled-input
      idString="sort-select"
      i18nString="SEARCH.INPUT.ADVANCED.SORT"
      [withTooltip]="false"
    >
      <nz-select class="w-full" formControlName="sort">
        @for (option of sortOptions; track option) {
        <nz-option
          class="min-w-400"
          [nzLabel]="'SEARCH.INPUT.ADVANCED.SORT.OPTIONS.' + option | translate"
          [nzValue]="option"
        ></nz-option>
        }
      </nz-select>
    </ks-left-labeled-input>

    <nz-divider
      nzOrientation="left"
      [nzText]="'SEARCH.INPUT.ADVANCED.SCOPE.TITLE' | translate"
    ></nz-divider>

    <nz-space class="w-full" nzDirection="vertical">
      <ks-right-labeled-input
        *nzSpaceItem
        idString="with-stemming-switch"
        i18nString="SEARCH.INPUT.ADVANCED.SCOPE.WITH_STEMMING"
      >
        <nz-switch formControlName="withStemming"></nz-switch>
      </ks-right-labeled-input>

      <ks-right-labeled-input
        *nzSpaceItem
        idString="include-heading-switch"
        i18nString="SEARCH.INPUT.ADVANCED.SCOPE.INCLUDE_HEADINGS"
      >
        <nz-switch formControlName="includeHeadings"></nz-switch>
      </ks-right-labeled-input>

      <ks-right-labeled-input
        *nzSpaceItem
        idString="include-paragraphs-switch"
        i18nString="SEARCH.INPUT.ADVANCED.SCOPE.INCLUDE_PARAGRAPHS"
      >
        <nz-switch formControlName="includeParagraphs"></nz-switch>
      </ks-right-labeled-input>

      <ks-right-labeled-input
        *nzSpaceItem
        idString="include-footnotes-switch"
        i18nString="SEARCH.INPUT.ADVANCED.SCOPE.INCLUDE_FOOTNOTES"
      >
        <nz-switch formControlName="includeFootnotes"></nz-switch>
      </ks-right-labeled-input>
    </nz-space>
  </form>

  <nz-divider
    nzOrientation="left"
    [nzText]="'SEARCH.INPUT.ADVANCED.SEARCH_TIPS.TITLE' | translate"
  ></nz-divider>

  <p>{{ "SEARCH.INPUT.ADVANCED.SEARCH_TIPS.TEXT" | translate }}</p>

  <p>{{ "SEARCH.INPUT.ADVANCED.SEARCH_TIPS.EXAMPLE" | translate }}</p>
</nz-card>
