<nz-card [nzTitle]="'SEARCH.INPUT.ADVANCED.HEADER' | translate">
  <form [formGroup]="form">
    <div nz-flex nzJustify="space-between">
      <label for="sort-select" style="margin-top: 0.35em; margin-right: 0.5em">
        {{ "SEARCH.INPUT.ADVANCED.SORT.LABEL" | translate }}
      </label>

      <nz-select class="max-w-400" formControlName="sort">
        @for (option of sortOptions; track option) {
        <nz-option
          [nzLabel]="'SEARCH.INPUT.ADVANCED.SORT.OPTIONS.' + option | translate"
          [nzValue]="option"
        ></nz-option>
        }
      </nz-select>
    </div>

    <nz-divider
      nzOrientation="left"
      [nzText]="'SEARCH.INPUT.ADVANCED.SCOPE.TITLE' | translate"
    ></nz-divider>

    <nz-space class="w-full" nzDirection="vertical">
      <ks-right-labeled-input
        *nzSpaceItem
        idString="with-stemming-switch"
        i18nString="SEARCH.INPUT.ADVANCED.SCOPE.WITH_STEMMING"
      >
        <nz-switch formControlName="withStemming"></nz-switch>
      </ks-right-labeled-input>

      <ks-right-labeled-input
        *nzSpaceItem
        idString="include-heading-switch"
        i18nString="SEARCH.INPUT.ADVANCED.SCOPE.INCLUDE_HEADINGS"
      >
        <nz-switch formControlName="includeHeadings"></nz-switch>
      </ks-right-labeled-input>

      <ks-right-labeled-input
        *nzSpaceItem
        idString="include-paragraphs-switch"
        i18nString="SEARCH.INPUT.ADVANCED.SCOPE.INCLUDE_PARAGRAPHS"
      >
        <nz-switch formControlName="includeParagraphs"></nz-switch>
      </ks-right-labeled-input>

      <ks-right-labeled-input
        *nzSpaceItem
        idString="include-footnotes-switch"
        i18nString="SEARCH.INPUT.ADVANCED.SCOPE.INCLUDE_FOOTNOTES"
      >
        <nz-switch formControlName="includeFootnotes"></nz-switch>
      </ks-right-labeled-input>
    </nz-space>
  </form>

  <nz-divider
    nzOrientation="left"
    [nzText]="'SEARCH.INPUT.ADVANCED.SEARCH_TIPS.TITLE' | translate"
  ></nz-divider>

  <p>{{ "SEARCH.INPUT.ADVANCED.SEARCH_TIPS.TEXT" | translate }}</p>

  <p>{{ "SEARCH.INPUT.ADVANCED.SEARCH_TIPS.EXAMPLE" | translate }}</p>
</nz-card>
