<nz-card>
  <div style="font-size: large">
    {{ "SEARCH.INPUT.ADVANCED.HEADER" | translate }}
  </div>

  <form [formGroup]="form">
    <nz-space class="w-full" nzDirection="vertical">
      <nz-divider
        *nzSpaceItem
        nzOrientation="left"
        [nzText]="'SEARCH.INPUT.ADVANCED.SORT.TITLE' | translate"
      ></nz-divider>

      <nz-radio-group *nzSpaceItem formControlName="sort">
        @for (opt of sortOptions; track opt) {
        <label nz-radio [nzValue]="opt">{{
          "SEARCH.INPUT.ADVANCED.SORT.OPTIONS." + opt | translate
        }}</label>
        <br />
        }
      </nz-radio-group>

      <nz-divider
        *nzSpaceItem
        nzOrientation="left"
        [nzText]="'SEARCH.INPUT.ADVANCED.STEMMING.TITLE' | translate"
      ></nz-divider>

      <ks-right-labeled-input
        *nzSpaceItem
        idString="with-stemming-switch"
        i18nString="SEARCH.INPUT.ADVANCED.STEMMING"
      >
        <nz-switch formControlName="withStemming"></nz-switch>
      </ks-right-labeled-input>

      <nz-divider
        *nzSpaceItem
        nzOrientation="left"
        [nzText]="'SEARCH.INPUT.ADVANCED.SCOPE.TITLE' | translate"
      ></nz-divider>

      <ks-right-labeled-input
        *nzSpaceItem
        idString="include-heading-switch"
        i18nString="SEARCH.INPUT.ADVANCED.SCOPE.INCLUDE_HEADINGS"
      >
        <nz-switch formControlName="includeHeadings"></nz-switch>
      </ks-right-labeled-input>

      <ks-right-labeled-input
        *nzSpaceItem
        idString="include-paragraphs-switch"
        i18nString="SEARCH.INPUT.ADVANCED.SCOPE.INCLUDE_PARAGRAPHS"
      >
        <nz-switch formControlName="includeParagraphs"></nz-switch>
      </ks-right-labeled-input>

      <ks-right-labeled-input
        *nzSpaceItem
        idString="include-footnotes-switch"
        i18nString="SEARCH.INPUT.ADVANCED.SCOPE.INCLUDE_FOOTNOTES"
      >
        <nz-switch formControlName="includeFootnotes"></nz-switch>
      </ks-right-labeled-input>
    </nz-space>
  </form>

  <nz-divider
    nzOrientation="left"
    [nzText]="'SEARCH.INPUT.ADVANCED.SEARCH_TIPS.TITLE' | translate"
  ></nz-divider>

  <p>{{ "SEARCH.INPUT.ADVANCED.SEARCH_TIPS.TEXT" | translate }}</p>

  <p>{{ "SEARCH.INPUT.ADVANCED.SEARCH_TIPS.EXAMPLE" | translate }}</p>
</nz-card>
