<p-panel
  [header]="'SEARCH.INPUT.SIMPLE_INPUT_HEADER' | translate"
  styleClass="mb-2"
>
  <p-button
    styleClass="p-button-secondary w-full mb-2"
    [label]="'SEARCH.INPUT.SELECT_WORKS' | translate"
    (onClick)="showWorksMenu = true"
  ></p-button>

  <app-input-group
    idString="search-terms-input"
    i18nString="SEARCH.INPUT.SEARCH_STRING"
    [hasIcon]="false"
  >
    <input
      pInputText
      id="search-terms-input"
      class="w-full"
      type="text"
      placeholder="{{ 'SEARCH.INPUT.SEARCH_STRING_PLACEHOLDER' | translate }}"
      [(ngModel)]="searchString"
      (ngModelChange)="onSearchStringChange()"
    />
  </app-input-group>
</p-panel>

<p-dialog
  [(visible)]="showWorksMenu"
  [modal]="true"
  [header]="'SEARCH.INPUT.SELECT_WORKS' | translate"
>
  <app-checkbox-works-menu
    [nodes]="nodes"
    (selectionChangeEmitter)="onWorksChange($event)"
    (closeEmitter)="showWorksMenu = false"
  ></app-checkbox-works-menu>
</p-dialog>
