<p-blockUI [blocked]="isLoading">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<div class="flex flex-column">
  <div class="flex justify-content-center">
    <div class="p-inputgroup mb-2 max-w-max">
      <span class="p-inputgroup-addon">{{ "UPLOAD.TITLE" | translate }}</span>
      <input pInputText required [(ngModel)]="title" />
    </div>
  </div>

  <div class="flex justify-content-center">
    <div class="p-inputgroup mb-2 max-w-max">
      <span class="p-inputgroup-addon">{{ "UPLOAD.ABBREV" | translate }}</span>
      <input pInputText required [(ngModel)]="abbrev" />
    </div>
  </div>

  <div class="flex justify-content-center">
    <div class="p-inputgroup mb-2 max-w-max">
      <span class="p-inputgroup-addon">{{ "UPLOAD.VOLUME" | translate }}</span>
      <input pInputText required [(ngModel)]="volume" />
    </div>
  </div>

  <div class="flex justify-content-center">
    <div class="p-inputgroup mb-2 max-w-max">
      <span class="p-inputgroup-addon">{{ "UPLOAD.ORDINAL" | translate }}</span>
      <input pInputText required [(ngModel)]="ordinal" />
    </div>
  </div>

  <div class="flex justify-content-center">
    <div class="p-inputgroup mb-2 max-w-max">
      <span class="p-inputgroup-addon">{{ "UPLOAD.YEAR" | translate }}</span>
      <input pInputText required [(ngModel)]="year" />
    </div>
  </div>

  <div class="flex justify-content-center">
    <p-fileUpload
      #fileUploadBtn
      chooseLabel="{{ 'UPLOAD.SELECT_FILE' | translate }}"
      uploadLabel="{{ 'UPLOAD.START_UPLOAD' | translate }}"
      mode="basic"
      [customUpload]="true"
      (uploadHandler)="onUpload($event, fileUploadBtn)"
      [disabled]="!title || !abbrev || !volume || !year"
      pTooltip="{{ !title || !volume ? ('UPLOAD.TOOLTIP' | translate) : '' }}"
    ></p-fileUpload>
  </div>
</div>
