<p-blockUI [blocked]="(isLoading$ | async) || false">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<div class="flex justify-content-center">
  <div class="w-full max-w-minus-1">
    <p-button
      styleClass="p-button-secondary w-full mb-2"
      [label]="'UPLOAD.SELECT_WORK' | translate"
      (onClick)="showWorksMenu = true"
    ></p-button>

    <p-fileUpload
      #fileUploadBtn
      styleClass="w-full"
      chooseLabel="{{ 'UPLOAD.SELECT_FILE' | translate }}"
      uploadLabel="{{ 'UPLOAD.START_UPLOAD' | translate }}"
      mode="basic"
      [customUpload]="true"
      (uploadHandler)="onUpload($event, fileUploadBtn)"
      [disabled]="!(hasWorkId$ | async)"
      pTooltip="{{
        !(hasWorkId$ | async) ? ('UPLOAD.TOOLTIP' | translate) : ''
      }}"
    ></p-fileUpload>
  </div>
</div>

<p-dialog
  [(visible)]="showWorksMenu"
  [modal]="true"
  [header]="'UPLOAD.SELECT_WORK' | translate"
>
  <app-works-menu
    [nodes]="(nodes$ | async) || []"
    (workSelectEmitter)="onWorksChange($event)"
    (expandableSelectEmitter)="toggleNode($event)"
  ></app-works-menu>
</p-dialog>
