<p-blockUI [blocked]="isLoading">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<div class="flex justify-content-center">
  <app-works-menu
    [useCheckbox]="false"
    (selectionChangeEmitter)="setWorkId($event)"
  ></app-works-menu>

  <div class="mr-2"></div>

  <div class="flex justify-content-center">
    <p-fileUpload
      #fileUploadBtn
      chooseLabel="{{ 'UPLOAD.SELECT_FILE' | translate }}"
      uploadLabel="{{ 'UPLOAD.START_UPLOAD' | translate }}"
      mode="basic"
      [customUpload]="true"
      (uploadHandler)="onUpload($event, fileUploadBtn)"
      [disabled]="workId < 1"
      pTooltip="{{ workId < 1 ? ('UPLOAD.TOOLTIP' | translate) : '' }}"
    ></p-fileUpload>
  </div>
</div>
