<nz-divider [nzText]="'READ.CONTENT' | translate"></nz-divider>

<div nz-flex nzJustify="center">
  <div class="max-w-paragraph-text">
    @for (c of contents; track c.ordinal) {
    <ng-container *ngIf="c.isHeading">
      <ks-heading [heading]="c" [fnByRef]="fnByRef"></ks-heading>
    </ng-container>

    <ng-container *ngIf="!c.isHeading">
      <ks-paragraph
        [paragraph]="c"
        [fnByRef]="fnByRef"
        [summByRef]="summByRef"
      ></ks-paragraph>
    </ng-container>
    }
  </div>
</div>

<ng-container *ngIf="showUpButton">
  <div class="ks-scroll-to-top">
    <nz-float-button
      nzType="default"
      [nzIcon]="icon"
      (click)="scrollTop()"
      nz-tooltip
      [nzTooltipTitle]="'COMMON.SCROLL_TOP_TOOLTIP' | translate"
    ></nz-float-button>
  </div>
</ng-container>

<ng-template #icon>
  <nz-icon nzType="up" nzTheme="outline" />
</ng-template>
