<nz-collapse>
  @for (vol of volumes; track vol) {
  <nz-collapse-panel
    [nzHeader]="
      'READ.VOLUME'
        | translate : { volumeNumber: vol.volumeNumber, title: vol.title }
    "
  >
    <nz-list nzItemLayout="horizontal">
      @for (work of vol.works; track work) {
      <nz-list-item>
        <a
          *ngIf="hoverIndex == work.id"
          [routerLink]="['/', currentLang, 'read', 'text', work.id]"
          (mouseover)="hoverIndex = work.id"
          (mouseout)="hoverIndex = ''"
        >
          {{ work.title }}
        </a>

        <div
          *ngIf="hoverIndex != work.id"
          (mouseover)="hoverIndex = work.id"
          (mouseout)="hoverIndex = ''"
        >
          {{ work.title }}
        </div>
      </nz-list-item>
      }
    </nz-list>
  </nz-collapse-panel>
  }
</nz-collapse>
