<ul nz-menu nzMode="horizontal" nz-flex>
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', currentLanguage$ | async, 'start']">
      <nz-icon nzType="home" />
    </a>
  </li>

  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', currentLanguage$ | async, 'read']">
      <nz-icon nzType="read" />
      {{ "NAVBAR.READ" | translate }}
    </a>
  </li>

  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', currentLanguage$ | async, 'search']">
      <nz-icon nzType="search" />
      {{ "NAVBAR.SEARCH" | translate }}
    </a>
  </li>

  <li style="flex-grow: 1; pointer-events: none"></li>

  <li nz-submenu nzPlacement="bottomRight" nzIcon="setting">
    <ul>
      <ng-container *ngFor="let lang of availableLanguages$ | async">
        <li nz-menu-item (click)="updateLang(lang)">
          {{ "NAVBAR.LANG." + lang.toUpperCase() | translate }}
        </li>
      </ng-container>
    </ul>
  </li>
</ul>
