<div class="flex justify-content-between">
  <p-tabMenu class="flex-grow-1" [model]="items">
    <ng-template pTemplate="item" let-item>
      <i [ngClass]="item.icon"></i>

      <div class="mt-1 ml-1">
        {{ item.label | translate }}
      </div>
    </ng-template>
  </p-tabMenu>

  <p-tabMenu
    [model]="langItems"
    [activeItem]="{}"
    (click)="menu.toggle($event)"
  >
    <ng-template pTemplate="item" let-item>
      <i [ngClass]="item.icon"></i>

      <div class="mt-1 ml-1" style="visibility: hidden">&nbsp;</div>
    </ng-template>
  </p-tabMenu>
</div>

<p-menu
  #menu
  [model]="getItems((availableLanguages$ | async) || [])"
  [popup]="true"
></p-menu>

<div class="mb-2"></div>
