<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-input-group
    idString="search-terms-input"
    i18nString="SEARCH.INPUT.SEARCH_STRING"
  >
    <input
      pInputText
      id="search-terms-input"
      type="text"
      class="w-full"
      placeholder="{{ 'SEARCH.INPUT.SEARCH_TERMS_PLACEHOLDER' | translate }}"
      formControlName="searchString"
    />
  </app-input-group>

  <app-input-group
    idString="scope-dropdown"
    i18nString="SEARCH.INPUT.SEARCH_SCOPE"
  >
    <p-dropdown id="scope-dropdown" [options]="scopes" formControlName="scope">
      <ng-template let-option pTemplate="selectedItem">
        {{ "SEARCH.INPUT.SCOPE." + option | translate }}
      </ng-template>

      <ng-template let-option pTemplate="item">
        {{ "SEARCH.INPUT.SCOPE." + option | translate }}
      </ng-template>
    </p-dropdown>
  </app-input-group>

  <div class="flex justify-content-center">
    <p-button
      type="submit"
      label="{{ 'SEARCH.INPUT.BUTTON_LABEL' | translate }}"
      [disabled]="!form.value.searchString || !hasWorks"
      pTooltip="{{
        !form.value.searchString || !hasWorks
          ? ('SEARCH.INPUT.BUTTON_TOOLTIP' | translate)
          : ''
      }}"
    ></p-button>
  </div>
</form>
