<div class="flex justify-content-center">
  <div class="w-full max-w-600">
    <input
      pInputText
      type="text"
      class="w-full mb-2"
      placeholder="{{ 'SEARCH.INPUT_PLACEHOLDER' | translate }}"
      (input)="onInputChange($event)"
    />

    <div class="mb-2">
      <app-works-menu
        [works]="works"
        (onSelectionChange)="onSelectionChange($event)"
      ></app-works-menu>
    </div>

    <div class="flex justify-content-center">
      <p-button
        label="{{ 'SEARCH.BUTTON_LABEL' | translate }}"
        (onClick)="onSearchClick()"
        [disabled]="!isSearchPermitted"
        pTooltip="{{
          !isSearchPermitted ? ('SEARCH.BUTTON_TOOLTIP' | translate) : ''
        }}"
      ></p-button>
    </div>
  </div>
</div>
