.max-w-footnote-text {
  width: 100%;
  max-width: 500px;
}

.fn-link {
  color: #5875a2ff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.fn-marker {
  margin: 0.2rem 0;
  border: none;
  border-top: 1px solid #6e6e6e;
  width: 12%;
}
