<nz-space class="w-full" nzDirection="vertical">
  <nz-input-group
    *nzSpaceItem
    nzSearch
    nzSize="large"
    [nzAddOnAfter]="suffixButton"
  >
    <input
      class="w-full"
      nz-input
      [placeholder]="'SEARCH.INPUT.TERMS.PLACEHOLDER' | translate"
      [ngModel]="searchTerms"
      (ngModelChange)="onSearchTermsChange($event)"
      (keyup.enter)="onSubmit()"
      type="text"
    />
  </nz-input-group>

  <nz-card
    *nzSpaceItem
    [nzTitle]="'SEARCH.INPUT.WORKS.TITLE' | translate"
    [nzExtra]="worksSelectTitle"
  >
    <ng-container *ngIf="nodes.length === 0">
      {{ "SEARCH.INPUT.WORKS.NO_VOLUMES" | translate }}
    </ng-container>

    <ng-container *ngIf="nodes.length > 0">
      <nz-tree
        nzCheckable
        [nzData]="nodes"
        [nzCheckedKeys]="checkedKeys"
        (nzCheckedKeysChange)="onCheckedKeysChange($event)"
        [nzExpandedKeys]="expandedKeys"
        (nzClick)="onNodeClick($event)"
      ></nz-tree>
    </ng-container>
  </nz-card>
</nz-space>

<ng-template #suffixButton>
  <button
    nz-button
    nzSearch
    nzType="primary"
    nzSize="large"
    [disabled]="!canSearch"
    (click)="onSubmit()"
    nz-tooltip
    [nzTooltipTitle]="
      !canSearch ? ('SEARCH.INPUT.TERMS.BUTTON.TOOLTIP' | translate) : ''
    "
    nzTooltipPlacement="bottomRight"
  >
    {{ "SEARCH.INPUT.TERMS.BUTTON.LABEL" | translate }}
  </button>
</ng-template>

<ng-template #worksSelectTitle>
  <nz-select
    class="min-w-400"
    nzPlacement="bottomRight"
    nzAllowClear="true"
    [nzPlaceHolder]="'SEARCH.INPUT.WORKS.SELECT.PLACEHOLDER' | translate"
    [ngModel]="worksGroup"
    (ngModelChange)="onSelectChange($event)"
    [disabled]="nodes.length === 0"
  >
    @for (option of worksGroupOptions; track option) {
    <nz-option
      class="min-w-400"
      [nzLabel]="'SEARCH.INPUT.WORKS.SELECT.OPTIONS.' + option | translate"
      [nzValue]="option"
    ></nz-option>
    }
  </nz-select>
</ng-template>
