<div
  [ngStyle]="{ 'padding-left.px': level * 25 }"
  (click)="onClick(section?.heading ?? 0)"
>
  <div
    class="cursor-pointer hover-background"
    nz-flex
    nzJustify="space-between"
  >
    {{ getHeading(section?.heading ?? 0)?.tocText }}

    <span style="width: 30px"></span>

    <div style="white-space: nowrap">
      {{ getHeading(section?.heading ?? 0)?.pages?.at(0) }}
    </div>
  </div>
</div>

@for (sec of section?.sections; track sec.heading) {
<ks-toc-section
  [level]="level + 1"
  [section]="sec"
  [headByOrdinal]="headByOrdinal"
  (onClickEmitter)="onClick($event)"
></ks-toc-section>
}
