<ng-container *ngIf="!(ready$ | async)">
  <div nz-flex nzJustify="center" nzAlign="center">
    <nz-icon nzType="loading" nzTheme="outline" style="font-size: 48px" />
  </div>
</ng-container>
<div nz-flex nzJustify="center">
  <div *ngIf="ready$ | async">
    <ks-work-info [work]="(work$ | async) ?? defaultWork"></ks-work-info>

    <ks-read-toc
      [work]="(work$ | async) ?? defaultWork"
      [headByOrdinal]="headingByOrdinal$ | async"
      (onClickEmitter)="onSectionNavigation($event)"
    >
    </ks-read-toc>

    <ks-content
      [contents]="(textContents$ | async) || []"
      [fnByRef]="footnoteByRef$ | async"
      [summByRef]="summaryByRef$ | async"
    >
    </ks-content>
  </div>
</div>
