<ng-container *ngIf="!(ready$ | async)">
  <div nz-flex nzJustify="center" nzAlign="center">
    <nz-icon nzType="loading" nzTheme="outline" style="font-size: 48px" />
  </div>
</ng-container>

<div nz-flex nzJustify="center">
  <div *ngIf="ready$ | async">
    <h2 nz-typography>
      <div class="cursor-pointer">
        {{ (work$ | async)?.title ?? "" }}
      </div>
    </h2>

    <ks-read-toc
      [work]="work$ | async"
      [headByOrdinal]="headingByOrdinal$ | async"
      (onClickEmitter)="onSectionNavigation($event)"
    >
    </ks-read-toc>

    <ks-content
      [contents]="(textContents$ | async) || []"
      [fnByRef]="footnoteByRef$ | async"
      [summByRef]="summaryByRef$ | async"
    >
    </ks-content>
  </div>
</div>
