@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.p-card .p-card-body {
  padding: 1;
  padding-bottom: 1px;
}
.p-card .p-card-content {
  padding: 0;
}
.p-card .p-card-footer {
  padding: 0;
}

.max-w-600 {
  max-width: 600px;
}

.max-w-680 {
  max-width: 680px;
}

.ks-pagination-s {
  font-size: 0.75rem;
  color: var(--surface-500);
}

.ks-pagination-m {
  color: var(--surface-500);
}

.ks-highlight {
  font-weight: 700;
}

.ks-h {
  font-size: 1.5rem;
  font-weight: 700;
}

.ks-i {
  font-style: italic;
}

.ks-b {
  font-weight: 700;
}

.ks-u {
  text-decoration-line: underline;
}

.ks-st {
  text-decoration-line: line-through;
}

.ks-er1 {
  color: var(--primary-color);
}

.ks-er2 {
  color: var(--primary-color);
  font-weight: 700;
}

.ks-scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.ks-scroll-to-top:hover {
  opacity: 1;
}

.cursor-pointer {
  cursor: pointer;
}
